.svg-arrow-scroll-dims { 
  width: 28.685px; 
  height: 14.479px;
  fill: #fff;
}
.svg-white{
  fill: #fff;
}
.svg-beef-dims { 
  width: 44px; height: 39.212px; 
}
.svg-buns-dims { 
  width: 48px; height: 30.317px; 
}
.svg-burger-dims { 
  width: 45.748px; height: 44.625px; 
}
.svg-cheese-dims { 
  width: 38.126px; height: 34.138px; 
}
.svg-cucumber-dims { 
  width: 42px; height: 37.754px; 
}
.svg-fb-dims { 
  width: 36.711px; height: 36.711px; 
}
.svg-hand-dims { 
  width: 73px; height: 85.875px; 
  fill: #f8b43a;
}
.svg-inst-dims { 
  width: 36.663px; height: 36.664px; 
}
.svg-kkal-dims { 
  width: 60px; height: 60.178px; 
}
.svg-meat-dims { 
  width: 96.428px; height: 89.246px; 
  fill: #e25028;
}
.svg-natural-dims { 
  width: 88px; height: 75.534px;
  fill: #8ac03e;
}
.svg-phone-dims { 
  width: 11px; height: 11px; 
}
.svg-salad-dims { 
  width: 38px; height: 38.638px;
}
.svg-sauce-dims { 
  width: 40.189px; height: 43.416px; 
}
.svg-twitter-dims { 
  width: 37.453px; height: 31.21px; 
}
.svg-vk-dims { 
  width: 126px; height: 72px; 
}