.header{
  width: 100%;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
    & .logo{
      display: flex;
      margin-right: auto;
      height: 100%;
    }
    & .logo__img{
      max-height: 100%;
    }
}


