.modal{
  top: 0;left: 0;bottom: 0;right: 0;
  position: absolute;
  margin: auto;
  height: 300px;
  max-width: 460px;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  @include tablets{
    width: 90%;
  }
  @include small{
    width: 96%;
  }
  &__bg{
    background: rgba(#2f3234, .92);
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    display: none;
    opacity: 1;
  }
  & .reviews__name{
    padding-top: 0;
    margin-bottom: rem(20px);
  }
  &__text{
    display: inline-block;
  }
  &__close {
    position: absolute;
    top: rem(30px);
    right: rem(30px);
    opacity: .7;
    transition: opacity .2s ease;
    &::before, &::after{
      background: $red;
    }
    &:hover{
      opacity: 1;
    }
  }
}