.first-screen{
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: $black;
  background-image: url('/img/fsc-bg.jpg');
  overflow: hidden;
}
.first-screen-container{
  align-content: space-between;
}
.welcome-link{
  display: block;
  margin: auto;
  height: rem(16px);
  & svg{
    max-height: 100%;
  }
}
.welcome-arrow{
  width: 100%;
  display: flex;
  padding-bottom: 40px;
  height: 14px;
}