.first-screen{
  background-color: $black;
  background-image: url('/img/fsc-bg.jpg');
}
.first-screen-container{
  align-content: space-between;
}
.welcome-link{
  display: block;
  margin: 0 auto;
  height: 17px;
  & img{
    max-height: 100%;
  }
}
.welcome-arrow{
  width: 100%;
  display: flex;
  padding-bottom: 40px;
  height: 14px;
}