.footer{
  display: flex;
  height: 58px;
  width: 100%;
  position: absolute;
  bottom: 0;left: 0;right: 0;
  background-image: url(../img/footer-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  @include phones{
    height: 115px;
  }
  &__container{
    @include phones{
      flex-direction: column;
      text-align: center;
    }
  }
  &__text{
    width: 50%;
  }
  &__address{
    color: #fff;
    font-size: rem(14px);
  }
  &__tel{
    margin-top: rem(10px);
    color: $red;
    font-weight: bold;
    font-size: rem(14px);
    display: block;
    @include phones{
      margin-bottom: rem(15px);
    }
    &::before{
      content: '';
      display: inline-flex;
      width: 12px;
      height: 11px;
      background-image: url(../img/icons/phone.svg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      margin-right: rem(8px);
    }
  }
}
.social{
  margin-left: auto;
  @include phones{
    margin-left: 0;
  }
  &__link{
    display: inline-flex;
    width: 20px;
    height: 20px;
    align-items: center;
    margin-left: rem(20px);
    &:first-child{
      margin-left: 0;
    }
    &:hover .social__svg{
      fill: #fff;
    }
  }
  &__svg{
    fill: #575757;
    max-width: 100%;
    max-height: 100%;
    transition: fill .2s ease;
  }
}