.promo{
  margin-top: -8%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: auto;
  flex: 1;
  @include tablets{
    padding: rem(20px);
  }
  @include phones {
    padding: 0;
  }
  &__img, &__text{
    width: 50%;
    @include tablets{
      width: 100%;
      text-align: center;
    }
    & img{
      max-width: 95%;
    }
  }
  &__img{
    margin-top: -8%;
  }
  &__text{
    &-small{
      font-family: 'Lifehack';
      font-size: rem(65px);
      color: #fff;
      @include phones{
        font-size: rem(50px);
      }
      @include small {
        font-size: rem(40px);
      }
    }
  }
}